@font-face {
  src: url("Letrastica-VFVF.woff2") format("woff2");
  font-family: "Letrastica";
  font-weight: 0 100;
  font-style: normal;
}
:root {
  --wght: 0;
}

body{
  display: flex;
  flex-direction: column;

}

.text {
  font-family: "Letrastica";
  font-variation-settings: "wght" var(--wght);
  font-size: 500px;
  height: 100px;
  line-height: 90px;
  pointer-events: none;
}

/* Non Demo Related Code */





.contain {
  max-width: 100%;
  margin: 2rem auto;
  padding-left: 1em;
  padding-right: 1em;
}
